In [1]:
#1.write a progamme to reverse a string
v='write a progamme to reverse a string'
v[::-1]

'gnirts a esrever ot emmagorp a etirw'

In [1]:
#2. Check if a string is a palindrome.
v='madam'
c=v[::-1]
if c==v:
  print('this is palindrome')
else:
  print('this is not palidrome')

this is palindrome

In [11]:
#3. Convert a string to uppercase.
v='vinaykumar'
s=v.upper()
s

'VINAYKUMAR'

In [12]:
#4. Convert a string to lowercase
s.lower()

'vinaykumar'

In [3]:
#5. Count the number of vowels in a string
s='Count the number of vowels in a string'
v=['a','e','i','o','u','A','E','I','O','U']
x=0   
for vowels in s:
    if vowels in v:
      x+=1
print('no of vowels is',x)

no of vowels is 11

In [11]:
#6. Count the number of consonants in a string.
s='Count the number of vowels in a string'
v={'a','e','i','o','u','A','E','I','O','U'}
x=0   
for vowels in s:
    if vowels in v:
        continue
    else:
         x+=1
print('no of consonants is',x)

no of consonants is 27

In [ ]:
#7. Remove all whitespaces from a string
a='Remove all whitespaces from a string'
a.replace(" ","")

In [ ]:
#8. Find the length of a string without using the `len()` function.
b='Find the length of a string without using the `len()` function'
x=0
for every_elements in b:
    x+=1
print('the length of string is',x)

the length of string is 62

In [32]:
#9.Check if a string contains a specific word
'Check if a string contains a specific word'
'string' in 'Check if a string contains a specific word'

True

In [3]:
#9. Check if a string contains a specific word.
x=' Check if a string contains a specific word'
'C' in x

True

In [31]:
#10. Replace a word in a string with another word
x='Replace a word in a string with another word'
x.replace('word','another word')

'Replace a another word in a string with another another word'

In [29]:
#11. Count the occurrences of a word in a string.
x='Count the occurrences of a word in a string'
x.find("word")

27

In [14]:
#12. Find the first occurrence of a word in a string
x='Find the first occurrence of a word in a string'
x.find('s')

12

In [28]:
#13. Find the last occurrence of a word in a string.
x=' Find the last occurrence of a word in a string'
x.rfind('g')

46

In [35]:
#14. Split a string into a list of words
x='Split  list of words'
x.split()

['Split', 'list', 'of', 'words']

In [ ]:
#15.Join a list of words into a string
a='abcd'
b='asdf'
c=a+b
c

'abcdasdf'

In [41]:
'''16.Convert a string where words are separated by spaces to one where words
are separated by underscores'''
x='Convert a string where words are separated by spaces to one where wordsare separated by underscores'
x.replace(" ", "_")

'Convert_a_string_where_words_are_separated_by_spaces_to_one_where_wordsare_separated_by_underscores'

In [5]:
#17. Check if a string starts with a specific word or phrase
x='check if a string starts with a specific word or phrase'
y='check'
z=x.startswith(y)
print(' string ends with a specific word or phrase',z)

 string ends with a specific word or phrase True

In [3]:
#18.Check if a string ends with a specific word or phrase.
x='Check if a string ends with a specific word or phrase.'
y='phrase.'
z=x.endswith(y)
print(' string ends with a specific word or phrase',z)

 string ends with a specific word or phrase True

In [44]:
#19. Convert a string to title case (e.g., "hello world" to "Hello World")
x= "hello world"
x.title()

'Hello World'

In [4]:
#20. Find the longest word in a string
x='Find the longest word in a string'
y=x.split()
max(y,key=len)

'longest'

In [3]:
#21. Find the shortest word in a string
x='Find the shortest word in a string'
y=x.split()
min(y,key=len)

'a'

In [9]:
#22. Reverse the order of words in a string
x='Reverse the order of words in a string'
x[::-1]

'gnirts a ni sdrow fo redro eht esreveR'

In [32]:
#23.Check if a string is alphanumeric
x='10'
x.isalnum()

True

False

In [56]:
#24. Extract all digits from a string.
a='there are 10 dogs and 20 monkeys'
for i in a.split():
    if i.isdigit():
        s=int(i)
        print(s)

10
20

In [60]:
#25. Extract all alphabets from a string.
a='there are 10 dogs and 20 monkeys'
b=a.split()
for i in a:
    if i.isalpha():
        for z in i:
            print(z)

t
h
e
r
e
a
r
e
d
o
g
s
a
n
d
m
o
n
k
e
y
s

In [15]:
#26. Count the number of uppercase letters in a String
a='Count the number of Uppercase letters in a String'
x=0
for every_item in a:
    if every_item.isupper():
        x+=1
    else:
        continue
print(x)

3

In [16]:
#27. Count the number of lowercase letters in a String
a='Count the number of uppercase letters in a string'
x=0
for every_item in a:
    if every_item.islower():
        x+=1
    else:
        continue
print(x)

40

In [16]:
#28. Swap the case of each character in a string
x='Swap the case of Each Character in a String'
x.swapcase()

'sWAP THE CASE OF eACH cHARACTER IN A sTRING'

In [9]:
#29. Remove a specific word from a string
x='Remove a specific word from a string'
x.replace('Remove','')

' a specific word from a string'

In [29]:
#30. Check if a string is a valid email address.
x='vinaykumar9948@gmail.com'

z=x[x.index('@')+1:]
for i in x:
    if i=='@' and z=='gmail.com' or 'yahoo.com':
        result='valid email'
    else:
        continue
    
print(result)

valid email

In [68]:
#31. Extract the username from an email address string.
x='vinaykumar9948@gmail.com'
y=x[:x.index('@')]
y

'vinaykumar9948'

In [69]:
#32.Extract the domain name from an email address string.
x='vinaykumar9948@gmail.com'
y=x[x.index('@')+1:]
y

'gmail.com'

In [17]:
#33. Replace multiple spaces in a string with a single space.
x= 'Replace multiple spaces in a string with a single space.'
x.replace(" ", '.')

'Replace.multiple.spaces.in.a.string.with.a.single.space.'

In [1]:
#34. Check if a string is a valid URL.
x=input('http://www.example.com/index.htm')

http://www.example.com/index.htm ('http://www.example.com/index.htm'

In [2]:
protocol=='https' or 'http'
subdomain=='www'
domain=**kwargs +'.com'
valid

"('http://www.example.com/index.htm'"

In [36]:
#35. Extract the protocol (http or https) from a URL string.
x='http://www.example.com/index.htm'
y=x.find('h')
z=x[:y+4]
z

'http'

In [18]:
#36. Find the frequency of each character in a string.
x='Find the frequency of each character in a string.'
x.count('e')

5

In [18]:
#37. Remove all punctuation from a string.
x="Re#@move all: punctuation !from a string"
y='''!@#$%^&*()-,.;:[]{}'''
for i in x:
    if i in y:
        x=x.replace(i,'')
print(x)

Remove all punctuation from a string

In [27]:
#38.Check if a string contains only digits.
a='there are 12 dogs '
b=a.split()
for i in b:
    if i.isdigit():
        print('contains only digits')
    else:
        pass

contains only digits

In [1]:
#39.Check if a string contains only alphabets.
a="Check if a string contains only alphabets"
for i in a:
        if i.isalpha():
            z=print('contains only alphabets')
        else:
            pass       
        
print(z)

contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
contains only alphabets
None

In [97]:
#40.Convert a string to a list of characters.
x='Convert a string to a list of characters'
list('Convert a string to a list of characters')

['C',
 'o',
 'n',
 'v',
 'e',
 'r',
 't',
 ' ',
 'a',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 ' ',
 't',
 'o',
 ' ',
 'a',
 ' ',
 'l',
 'i',
 's',
 't',
 ' ',
 'o',
 'f',
 ' ',
 'c',
 'h',
 'a',
 'r',
 'a',
 'c',
 't',
 'e',
 'r',
 's']

In [45]:
#41. Check if two strings are anagrams.
s1 ="rat"
s2 ="tar"
if(sorted(s1)== sorted(s2)):
        print("The strings are anagrams.")
else:
        print("The strings aren't anagrams.")

The strings are anagrams.

In [5]:
#42. Encode a string using a Caesar cipher.
x='hello world'
y=x.lower()
z=' '
n=2
for i in y:
    z= chr((ord(i) + n-97) % 26 + 97)
    print(z)

j
g
n
n
q
p
y
q
t
n
f

In [ ]:
#43. Decode a Caesar cipher encoded string.

In [43]:
#44.Find the string of most frequent word in a string.
x='.Find the string of most frequent word in a string.'

In [18]:
#45. Find all unique words in a string.
x='45 Find all unique words in a string.'
unique_words=x.split()
set(unique_words)

{'45', 'Find', 'a', 'all', 'in', 'string.', 'unique', 'words'}

In [ ]:
#46. Count the number of syllables in a string

In [21]:
#47. Check if a string contains any special characters.
x='Check if a string contains any special characters.'
special_char='''!@#$%^&*(){}[]<>?/`~'''
for i in x:
    if i in special_char:
        z=print('string contains special characters')
    else:
        z=print("strind doesn't contain special character" )
        
        
print(z)

strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
strind doesn't contain special character
None

In [26]:
#48. Remove the nth word from a string.
x='Remove the nth word from a string.'
y=x.find('nth')
z=x[:y]+x[y+1:]
z

'Remove the th word from a string.'

In [13]:
#49. Insert a word at the nth position in a string.
x=' Insert a a string'
y=x.index('a')
z=x[:y]+'( word at the nth position in)'+x[y:]
z

' Insert ( word at the nth position in)a a string'

In [25]:
#50Convert a CSV string to a list of lists.
x='Convert, a ,CSV, string t,o a ,list, of, lists.'
y=x.split(',')
y

['Convert', ' a ', 'CSV', ' string t', 'o a ', 'list', ' of', ' lists.']

In [ ]:
List Based Practice Problem :

In [1]:
#1. Create a list with integers from 1 to 10
x=[1,2,3,4,5,6,7,8,9,10]

In [2]:
type(x)

list

In [20]:
#2. Find the length of a list without using the `len()` function.
x=[1,2,3,4,5,6,7,8,9,10]
y=0
for element in x:
    y+=1
print('length of integers is',y)

length of integers is 10

In [12]:
#3.Append an element to the end of a list.
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [13]:
x.append('vinay')

In [14]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'vinay']

In [15]:
#4. Insert an element at a specific index in a list
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'vinay']

In [17]:
x.insert(3,'vinay')

In [18]:
x

[1, 2, 3, 'vinay', 4, 5, 6, 7, 8, 9, 10, 'vinay']

In [19]:
#5. Remove an element from a list by its value.
x.remove('vinay')

In [20]:
x

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'vinay']

In [21]:
#6. Remove an element from a list by its index.
x.pop(0)

1

In [ ]:
x

62

In [33]:
#7. Check if an element exists in a list.
x=[1,2,3,4,5]
if 2 in x:
    print(True)
else:
    print(False)

True

In [14]:
#8. Find the index of the first occurrence of an element in a list.
x=list('find the index of the first occurrence of an element in a list')
x.index('f')

0

In [8]:
#9. Count the occurrences of an element in a list.
x=list(' Count the occurrences of an element in a list.')
x.count('o')

3

In [16]:
#10. Reverse the order of elements in a list.
x=list('10. Reverse the order of elements in a list.')
x[::-1]

['.',
 't',
 's',
 'i',
 'l',
 ' ',
 'a',
 ' ',
 'n',
 'i',
 ' ',
 's',
 't',
 'n',
 'e',
 'm',
 'e',
 'l',
 'e',
 ' ',
 'f',
 'o',
 ' ',
 'r',
 'e',
 'd',
 'r',
 'o',
 ' ',
 'e',
 'h',
 't',
 ' ',
 'e',
 's',
 'r',
 'e',
 'v',
 'e',
 'R',
 ' ',
 '.',
 '0',
 '1']

In [23]:
#11. Sort a list in ascending order.
x=list( 'Sort a list in ascending order')
x.sort()
x

[' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'S',
 'a',
 'a',
 'c',
 'd',
 'd',
 'e',
 'e',
 'g',
 'i',
 'i',
 'i',
 'l',
 'n',
 'n',
 'n',
 'o',
 'o',
 'r',
 'r',
 'r',
 's',
 's',
 't',
 't']

In [25]:
#12. Sort a list in descending order.
x=list(' Sort a list in descending order.')
x.sort(reverse=True)
x

['t',
 't',
 's',
 's',
 'r',
 'r',
 'r',
 'o',
 'o',
 'n',
 'n',
 'n',
 'l',
 'i',
 'i',
 'i',
 'g',
 'e',
 'e',
 'e',
 'd',
 'd',
 'd',
 'c',
 'a',
 'S',
 '.',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ']

In [41]:
#13. Create a list of even numbers from 1 to 20.
x=[]
for i in range(1,21,):
    if i%2==0:
        x.append(i)
print(x)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [43]:
#14Create a list of odd numbers from 1 to 20.
x=[]
for i in range(1,21,):
    if i%3==0:
        x.append(i)
print(x)

[3, 6, 9, 12, 15, 18]

In [19]:
#15.Find the sum of all elements in a list.
x=[1,2,3,4,5,6]
y=0
for element in x:
    y= y+element
print('sum is', y)

sum is 21

In [36]:
#16. Find the maximum value in a list.
x=[1,2,3,4,5,6]
y=0
for every_element in x:
    if y<every_element:
        y=every_element
print('maximum valve is',y)

maximum valve is 6

In [41]:
#17. Find the minimum value in a list.
x=[1,2,3,4,0,5,6,]
y=1
for every_element in x:
    if y>every_element:
        y=every_element
print('minimum valve is',y)

minimum valve is 0

In [26]:
#18.Create a list of squares of numbers from 1 to 10.
x=10
y=[]
for every_num in range(11):
    z=every_num*every_num
    y.append(z)
print(y)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [28]:
#19. Create a list of random numbers.
import random
randomlist = []
for i in range(0,10):
    n = random.randint(1,30)
    randomlist.append(n)
print(randomlist)

[21, 30, 10, 12, 26, 12, 23, 3, 29, 17]

In [15]:
#20. Remove duplicates from a list.
x=[1,2,2,3,3,4,4,5,5,5,66,77,777]
y=set(x)
z=list(y)
z

[1, 2, 3, 4, 5, 66, 777, 77]

In [45]:
#21. Find the common elements between two lists.
x=[1,2,3,4,5]
y=[2,4,5,6,7]
z=[]
for i in x:
    if i in y:
        z.append(i)
print(z)

[2, 4, 5]

In [47]:
#22.Find the difference between two lists.
x=[1,2,3,4,5]
y=[2,4,5,6,7]
z=[]
for i in x:
    if i not in y:
        z.append(i)
print(z)

[1, 3]

In [34]:
#23. Merge two lists.
x=[1,2,3,4,5,6]
y=[5,5,6,6,77,8,88]
z=x+y

In [35]:
z

[1, 2, 3, 4, 5, 6, 5, 5, 6, 6, 77, 8, 88]

In [13]:
#24. Multiply all elements in a list by 2.
x=[1,2,3,4,5,6]
z=[]
for every_item in x:
    y=every_item*2
    z.append(y)
print(z)

[2, 4, 6, 8, 10, 12]

In [5]:
#25.Filter out all even numbers from a list.
x=[1,2,3,4,5,6,7,8,9,10,11,12]
y=[]
for every_item in x:
    if every_item%2==0:
        y.append(every_item)
        
print(y)

[2, 4, 6, 8, 10, 12]

In [50]:
#26. Convert a list of strings to a list of integers.
x=['1','2','3']
for i in x:
    if i.isalnum():
        a=int(i)
        
        print((a))

1
2
3

In [49]:
#27. Convert a list of integers to a list of strings.
x=[1,2,3,4,5]
y=str(x)
y

'[1, 2, 3, 4, 5]'

In [5]:
#28. Flatten a nested list.
x=[[1,2],[3,4,5],[6,7,8]]
y=[]
for sublist in x:
    for number in sublist:
        y.append(number)
print(y)

[1, 2, 3, 4, 5, 6, 7, 8]

In [53]:
#29.Create a list of the first 10 Fibonacci numbers.
x=0
y=1
c=0
z=int(input('enter the number for fibonacci series'))
for i in  range(z):
    if i<=c:
        a=x+y
        x=y
        y=a
        c+=1
        print(a)

enter the number for fibonacci series 4

1
2
3
5

In [28]:
#30. Check if a list is sorted.
x=[2,4,6,1,3,5]
y=x.sorted(x)
if x==y:
    print('sorted')
else:
    print('not sorted')

AttributeError: 'list' object has no attribute 'sorted'

In [3]:
#31. Rotate a list to the left by `n` positions.
x=[1,2,3,4,5]
y=x[-2:]+x[:-2]
y

[4, 5, 1, 2, 3]

In [4]:
#32. Rotate a list to the right by `n` positions.
x=[1,2,3,4,5]
y=x[+1:]+x[:+1]
y

[2, 3, 4, 5, 1]

In [8]:
#33. Create a list of prime numbers up to 50.
x=[]
for i in range(1,51,1):
    if i%2!=0 and i%3!=0:
        x.append(i)
print(x)

[1, 5, 7, 11, 13, 17, 19, 23, 25, 29, 31, 35, 37, 41, 43, 47, 49]

In [7]:
#34. Split a list into chunks of size `n`.
x=[1,2,3,4,5,6,7]
y=int(input('enter a number to split into n size'))
for i in range(0,len(x),y):
    z=x[i:i+y]
    print(list(z))

enter a number to split into n size 3

[1, 2, 3]
[4, 5, 6]
[7]

[2, 3]

In [16]:
#35.Find the second largest number in a list.
x=[1,2,5,23,32,67,90,11]
y=sorted(x)
y[-2]

67

In [20]:
#36. Replace every element in a list with its square.
x=[1,2,3,4,5]
for i in x:
    x[x.index(i)]=i*i
print(x)

[1, 16, 9, 4, 25]

In [37]:
#37. Convert a list to a dictionary where list elements become keys and their indices become values.
x=[1,2,3,4,5]
dic={}
for i,j in enumerate(x):
    dic[j]=i
print(dic)

{1: 0, 2: 1, 3: 2, 4: 3, 5: 4}

In [7]:
#38. Shuffle the elements of a list randomly.
import random
new_list = [11,22,33,44,55,66,77]
for i in new_list:
    n = random.shuffle(new_list)
print(new_list)

[11, 33, 66, 55, 77, 44, 22]

In [1]:
#39. Create a list of the first 10 factorial numbers.
factorial=1
for i in range(1,11):
    factorial=factorial*i
print(factorial)

3628800

In [2]:
#40. Check if two lists have at least one element in common.
x=[1,2,3,4,5]
y=[2,3,4,5,6,7]
for i in x:
    if i in y:
        print(i)

2
3
4
5

In [ ]:
#41.Remove all elements from a list.
x=[1,2,3,4,'viajkdjf']
y=x.clear()
print(y)

In [5]:
#42.Replace negative numbers in a list with 0.
x=[-11,-22,33,44,-55]

for i in x:
    if i <0:
        x[x.index(i)]=0
        
print(x)

[0, 0, 33, 44, 0]

In [3]:
#43. Convert a string into a list of words.
x= 'Convert a string into a list of words'
list(x)

['C',
 'o',
 'n',
 'v',
 'e',
 'r',
 't',
 ' ',
 'a',
 ' ',
 's',
 't',
 'r',
 'i',
 'n',
 'g',
 ' ',
 'i',
 'n',
 't',
 'o',
 ' ',
 'a',
 ' ',
 'l',
 'i',
 's',
 't',
 ' ',
 'o',
 'f',
 ' ',
 'w',
 'o',
 'r',
 'd',
 's']

In [34]:
#44. Convert a list of words into a string.

x=['a','b','c','d']
y=''
for i in x:
    y=y+i
print(y)

abcd

In [11]:
#45.Create a list of the first `n` powers of 2.
x=[]
a=int(input('enter a number:'))
for i in range(0,a):
    y=2**i
    x.append(y)
print(x)

enter a number: 5

[1, 2, 4, 8, 16]

In [25]:
#46. Find the longest string in a list of strings.
x='Find the longest string in a list of strings'
y=x.split()
print('x=',y)
max(y,key=len)

x= ['Find', 'the', 'longest', 'string', 'in', 'a', 'list', 'of', 'strings']

'longest'

In [24]:
#47. Find the shortest string in a list of strings.
x='47. Find the shortest string in a list of strings.'
y=x.split()
print('x=',y)
min(y,key=len)

x= ['47.', 'Find', 'the', 'shortest', 'string', 'in', 'a', 'list', 'of', 'strings.']

'a'

In [29]:
#48. Create a list of the first `n` triangular numbers.
a=int(input('enter a number'))
c=0
for i in range(a):
    c=c+(i*(i+1)/2)
    print(c)

enter a number 4

0.0
1.0
4.0
10.0

In [58]:
#49. Check if a list contains another list as a subsequence.
x=[1,2,3,4,5]
y=[1,2,3,4,5,6,7,8,9]
for i in y:
    if i in x:
        print(i,'is in another list')

1 is in another list
2 is in another list
3 is in another list
4 is in another list
5 is in another list

In [5]:
#50. Swap two elements in a list by their indices.

x=[1,2,3,4,5]
x[1],x[3]=x[3],x[1]
x

[1, 4, 3, 2, 5]

In [ ]:
X=('1','2')
Y=X.replace('2','1')
print(Y)

In [17]:
#Tuple Based Practice Problem
#1. Create a tuple with integers from 1 to 5.
x=(1,2,3,4,5)
x

(1, 2, 3, 4, 5)

In [ ]:
#2. Access the third element of a tuple
x=(1,2,3,4,5)
x[2:3]

In [23]:
#3. Find the length of a tuple without using the `len()` function.
x=('find the length of a tuple without using the `len()` function.')
y=0
for every_element in x:
    y+=1
print('length of tuple without using the len() is', y)

length of tuple without using the len() 62

In [28]:
#4. Count the occurrences of an element in a tuple.
x=(1,1,2,2,3,3,4,5,6,7,7,7)

In [29]:
x.count(7)

3

In [36]:
#5. Find the index of the first occurrence of an element in a tuple.
x

(1, 1, 2, 2, 3, 3, 4, 5, 6, 7, 7, 7)

In [38]:
x.index(3)

4

In [55]:
#6.Check if an element exists in a tuple.
x=(1,2,3,4)
a=int(input('enter a number'))
if a in x:
    print(True)
else:
    print(False)

enter a number 1

True

In [40]:
#7.Convert a tuple to a list.
x

(1, 1, 2, 2, 3, 3, 4, 5, 6, 7, 7, 7)

In [43]:
y=list(x)
y

[1, 1, 2, 2, 3, 3, 4, 5, 6, 7, 7, 7]

In [45]:
#8. Convert a list to a tuple.
tuple(y)

(1, 1, 2, 2, 3, 3, 4, 5, 6, 7, 7, 7)

In [57]:
#9. Unpack the elements of a tuple into variables.
x=[('apple',100),('mango',200)]
for fruits,price in x:
    print(list(fruits))

['a', 'p', 'p', 'l', 'e']
['m', 'a', 'n', 'g', 'o']

In [21]:
#10.Create a tuple of even numbers from 1 to 10.
y=[]
for i in range(1,11):
    if i%2==0:
        y.append(i)
print(tuple(y))

(2, 4, 6, 8, 10)

In [22]:
#11. Create a tuple of odd numbers from 1 to 10.
y=[]
for i in range(1,11):
    if i%2!=0:
        y.append(i)
print(tuple(y))

(1, 3, 5, 7, 9)

In [5]:
#12. Concatenate two tuples.
x=(2,4,6,8,10)
s=(1,3,5,7,9)
x+s

(2, 4, 6, 8, 10, 1, 3, 5, 7, 9)

In [35]:
#13. Repeat a tuple three times.
(1,2,3)*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [10]:
#14. Check if a tuple is empty.
x=(1,)
if len(x)==0:
    print('tuple is empty')
else:
    print('tuple is not empty')

tuple is not empty

In [7]:
#15.Create a nested tuple.
x=(1,2,3)
y=(4,5,6,(7,8,9))

z=x+y

In [8]:
#16. Access the first element of a nested tuple.
z

(1, 2, 3, 4, 5, 6, (7, 8, 9))

In [9]:
z[6][0]

7

In [11]:
#17.Create a tuple with a single element.
s=(1,)
s

(1,)

In [22]:
#18. Compare two tuples.
x=(1,2,3)
y=(4,5,6)
x<y

True

In [32]:
#19. Delete a tuple.
x=(1,2,3)
del(x)

In [34]:
#20. Slice a tuple.
x=(1,2,3,4,5)
x[1:3:1]

(2, 3)

In [35]:
#21. Find the maximum value in a tuple.
x=(1,2,3,4,5,6)
max(x)

6

In [36]:
#22. Find the minimum value in a tuple.
x=(1,2,3,4,5,6)
min(x)

1

In [58]:
#23. Convert a string to a tuple of characters.
x=('23. Convert a string to a tuple of characters')
y=x.split()
z=tuple(y)
z

('23.', 'Convert', 'a', 'string', 'to', 'a', 'tuple', 'of', 'characters')

In [59]:
#24. Convert a tuple of characters to a string.
z

('23.', 'Convert', 'a', 'string', 'to', 'a', 'tuple', 'of', 'characters')

In [62]:
a=list(z)
b=' '
for i in a:
    b=b+i
print(b)

 23.Convertastringtoatupleofcharacters

In [77]:
#25. Create a tuple from multiple data types.
x=(1,6+3j,2.3,'string')
x

(1, (6+3j), 2.3, 'string')

In [76]:
#26. Check if two tuples are identical.
x=(1,2,4)
y=(1,2,4)
if x==y:
    print('tuples are identical')
else:
    print('tuples are not identical')

tuples are identical

In [74]:
#27. Sort the elements of a tuple.
x=('a','c','f','z','d')
y=(list(x))
sorted(y)

['a', 'c', 'd', 'f', 'z']

In [1]:
#28. Convert a tuple of integers to a tuple of strings.
x=(1,2,3,4,5)
y=list(x)
for i in (y):
    str(i)
    print(i)

1
2
3
4
5

In [10]:
#29. Convert a tuple of strings to a tuple of integers.
x=('1','2','3','4')
y=list(x)
for i in y:
    if i.isnumeric():
        int(i)
        print((i))

1
2
3
4

In [ ]:
#30.Merge two tuples.
x=(1,2,3,4,5)
y=('a','b','c','d')
x+y

In [17]:
#31.Flatten a nested tuple.
x=((1,2,3),(2,3,4,5,67,7))
y=[]
x1=list(x)
y
for flatten in x1:
    for every_item in flatten:
        y.insert(every_item,every_item)
print(tuple(y))

(1, 2, 2, 3, 4, 5, 3, 7, 67)

In [25]:
#32. Create a tuple of the first 5 prime numbers.
x=int(input('enter a number for first n prime numbers'))
count=0
a=[]
for i in x: 
    if i%2==0 and i%3==0:
        count+=1
        a.append(i)
        print(a)

enter a number for first n prime numbers 4

TypeError: 'int' object is not iterable

TypeError: object of type 'int' has no len()

In [33]:
#33. Check if a tuple is a palindrome.
x=('madam', 'refer')
if x[0][::-1]==x[0] and x[1][::-1]==x[1]:
    print(' this is a palindrome')
else:
          print('this is not palindrome')

 this is a palindrome

In [19]:
#34. Create a tuple of squares of numbers from 1 to 5.
x=(1,2,3,4,5)
y=[]
x1=list(x)
for every_num in x1:
    z=every_num*every_num
    y.append(z)
print(tuple(y))

(1, 4, 9, 16, 25)

In [24]:
#35. Filter out all even numbers from a tuple.
x=(1,2,3,4,5,6,7,8,9,10)
x1=list(x)
y=[]
for i in x1:
    if i%2==0:
        y.append(i)
print(tuple(y))

(2, 4, 6, 8, 10)

In [4]:
#36.Multiply all elements in a tuple by 2.
x=(1,2,3,4,5)
z=[]
x1=list(x)
for i in x1:
    z.append(i*2)
print(tuple(z))

(2, 4, 6, 8, 10)

In [9]:
#37. Create a tuple of random numbers.
import random
new_list = []
for i in range(0,10):
    n = random.randint(1,30)
    new_list.append(n)
print(tuple(new_list))

(23, 18, 1, 4, 9, 30, 23, 16, 4, 12)

In [23]:
#38.Check if a tuple is sorted.
x=(1,2,3,4)
y=(sorted(x))
if x==y:
    print(True)
else:
    print(False)

False

In [11]:
#39. Rotate a tuple to the left by `n` positions.
x=(1,2,3,4,5)
y=x[-2:]+x[:-2]
y

(4, 5, 1, 2, 3)

In [14]:
#40. Rotate a tuple to the right by `n` positions.
x=(1,2,3,4,5)
y=x[1:]+x[:1]
y

(2, 3, 4, 5, 1)

In [86]:
#41.Create a tuple of the first 5 Fibonacci numbers.
x=0
y=1
c=0
d=0
z=int(input('enter the number for fibonacci series'))
for i in  range((z)):
    if i<=c:
        a,e=x+y,d
        d+=1
        x=y
        y=a
        c+=1
        print((a,e))

enter the number for fibonacci series 3

(1, 0)
(2, 1)
(3, 2)

In [30]:
#42. Create a tuple from user input.
x=tuple(list(input('enter')))

print(x)

enter 2324q35w46e

('2', '3', '2', '4', 'q', '3', '5', 'w', '4', '6', 'e')

In [73]:
#43. Swap two elements in a tuple.

x=(1,2,3,4,5)
x1=list(x)
x1[1],x1[3]=x1[3],x1[1]
print(tuple(x1))

(1, 4, 3, 2, 5)

In [31]:
#44. Reverse the elements of a tuple.
x=[1,2,3,4,5]
x[::-1]

[5, 4, 3, 2, 1]

In [34]:
#45. Create a tuple of the first `n` powers of 2.
x=[]
a=int(input('enter a number:'))
for i in range(0,a):
    y=2**i
    x.append(y)
print(tuple(x))

enter a number: 5

(1, 2, 4, 8, 16)

In [39]:
#46. Find the longest string in a tuple of strings.
x= 'Find the longest string in a tuple of strings'
y=tuple(x.split())
print('x=',y)
max(y,key=len)

x= ('Find', 'the', 'longest', 'string', 'in', 'a', 'tuple', 'of', 'strings')

'longest'

In [41]:
#47.Find the shortest string in a tuple of strings.
x= 'Find the shortest string in a tuple of strings'
y=tuple(x.split())
print('x=',y)
min(y,key=len)

x= ('Find', 'the', 'shortest', 'string', 'in', 'a', 'tuple', 'of', 'strings')

'a'

In [53]:
#48. Create a tuple of the first `n` triangular numbers.
a=int(input('enter a number'))
c=0
e=0
for i in range(a):
    d,c=c+(i*(i+1)/2),e
    e+=1
    print((d,c))

enter a number 4

(0.0, 0)
(1.0, 1)
(4.0, 2)
(8.0, 3)

In [68]:
#49. Check if a tuple contains another tuple as a  subsequence
x=(1,2,3)
y=(1,2,3,4,5)
x1=set(x)
y1=set(y)
x1.issubset(y1)

True

In [66]:
#50.Create a tuple of alternating 1s and 0s of length `n`.
x=[]
for i in range(0,10,1):
    if i%2==0:
        x.append(1)
    else:
        x.append(0)
print(tuple(x))

(1, 0, 1, 0, 1, 0, 1, 0, 1, 0)

### Set Based Practice Problem :

In [89]:
#1. Create a set with integers from 1 to 5.
for i in range(1,6,1):
    print(i)

1
2
3
4
5

In [44]:
#2. Add an element to a set.
x={1,2,3}
y=list(x)
y.append(4)
set(y)

{1, 2, 3, 4}

In [64]:
#3. Remove an element from a set.
x={'a','b','c','d'}
y=list(x)
y.pop(0)
set(y)

{'a', 'b', 'c'}

In [12]:
#4. Check if an element exists in a set.
x={1,2,3,4}
if 1 in x:
    print('it is there')
else:
    print('not there')

it is there

In [18]:
#5. Find the length of a set without using the `len()` function.
x={'Find the length of a set without using the `len()` function.',1,2,3,4,5}
y=0
for every_item in x:
    y+=1
print('the length of a set without using the `len()` function is', y)

the length of a set without using the `len()` function is 6

In [21]:
#6. Clear all elements from a set.
x={1,2,3,4,5}
y=x.clear()
y

In [27]:
#7. Create a set of even numbers from 1 to 10.
x{1,2,3,4,5,6,7,8,9,10}
y=[]
for every_item in x:
    if every_item%2==0:
        y.append(every_item)
    else:
        continue
z=set(y)
print(z)

{2, 4, 6, 8, 10}

In [34]:
#8. Create a set of odd numbers from 1 to 10.
x={1,2,3,4,5,6,7,8,9,10}
y=[]
for every_item in x:
    if every_item%2!=0:
        y.append(every_item)
    else:
        continue
z=set(y)
print(z)

{1, 3, 5, 7, 9}

In [60]:
#9. Find the union of two sets.
x={1,2,3,4}
y={6,7,8,9}
z=x.union(y)
print(z)

{1, 2, 3, 4, 6, 7, 8, 9}

In [66]:
#10. Find the intersection of two sets.
x={1,2,3,4}
y={1,2,3,5}
x.intersection(y)

{1, 2, 3}

In [65]:
#11. Find the difference between two sets.
x={1,7,5,6}
y={1,2,3,4}
z=x.difference(y)
print(z)

{5, 6, 7}

{1, 2, 3, 4}

In [67]:
#12. Check if a set is a subset of another set.
x={1,2,3,4}
y={1,2,3,4,5,6,7,8}
x.issubset(y)

True

In [70]:
#13. Check if a set is a superset of another set.
x={1,2,3,4}
y={1,2,3,4,5,6,7,8}
y.issuperset(x)

True

In [71]:
#14. Create a set from a list.
x=[1,2,3,4]
y=set(x)
y

{1, 2, 3, 4}

In [72]:
#15. Convert a set to a list.
x={1,2,3,4}
list(x)

[1, 2, 3, 4]

In [84]:
#16. Remove a random element from a set.
x={1,2,3,4}
x.remove(2)
print(x)

{1, 3, 4}

In [85]:
#17. Pop an element from a set.
x={1,2,3,4}
x.pop()

1

In [87]:
#18. Check if two sets have no elements in common.
x={1,2,3,4}
y={1,2,3,4,5,6,7}
x.isdisjoint(y)

False

In [11]:
#19. Find the symmetric difference between two sets.
x={1,2,3,4,5,13,14}
y={1,2,4,5,6,7,8,9}
x.symmetric_difference(y)

{3, 6, 7, 8, 9, 13, 14}

In [13]:
#20. Update a set with elements from another set.
x={1,2,3,4,5}
y={6,7,8,9,10}
x.update(y)

In [1]:
#21. Create a set of the first 5 prime numbers.

In [90]:
#22. Check if two sets are identical.
x={1,2,3,4,5}
y={1,2,3,4,5}
if x==y:
    print(True)
else:
    print(False)

True

In [8]:
#23. Create a frozen set.
x={1,2,3,4,5}
frozenset(x)

frozenset({1, 2, 3, 4, 5})

In [11]:
#24. Check if a set is disjoint with another set.
x={1,2,3,4,5}
y={6,7,8,9}
x.isdisjoint(y)

True

In [10]:
#25. Create a set of squares of numbers from 1 to 5.
x=6
z=[]
y=0
for every_num in range(1,x):
        y+=1
        z.append(every_num**2)
print(set(z))

{1, 4, 9, 16, 25}

In [2]:
#26. Filter out all even numbers from a set.
x={1,2,3,4,5,6,7,8,9,10}
for every_num in x.copy():
    if every_num%2==0:
        continue
    else:
        x.remove(every_num)
print(x)

{2, 4, 6, 8, 10}

In [12]:
#27. Multiply all elements in a set by 2.
x={1,2,3,4,5,6}
z=[]
for every_num in x:
    y=every_num*2
    z.append(y)
print(set(z))

{2, 4, 6, 8, 10, 12}

In [14]:
#28. Create a set of random numbers.
import random
new_list = []
for i in range(0,10):
    x = random.randint(1,30)
    new_list.append(x)
print(set(new_list))

{2, 4, 5, 6, 11, 15, 20, 21, 26, 27}

In [7]:
#29.Check if a set is empty.
x={}
if len(x)==0:
    print('set is empty')
else:
    print('set is not empty')

set is empty

In [19]:
#30.Create a nested set 
x={1,2,3,{4,5,6,{7,8,9}}}
print(x)

TypeError: unhashable type: 'set'

In [16]:
#31. Remove an element from a set using the discard method.
x={1,2,3,4,6,7}
x.discard(2)
print(x)

{1, 3, 4, 6, 7}

In [17]:
#32. Compare two sets.
x={1,2,3,4,5}
y={6,7,8,9,10}
x==y

False

In [20]:
#33. Create a set from a string.
x=set('vinay')
x

{'a', 'i', 'n', 'v', 'y'}

In [23]:
#34. Convert a set of strings to a set of integers.

x = {"1", "2", "3", "4", "5"} 
y = set()

for i in x:
    y.add(int(i))

print(y)

{1, 2, 3, 4, 5}

In [24]:
#35. Convert a set of integers to a set of strings.
x = {1, 2, 3, 4, 5}  
y = set()

for i in x:
    y.add(str(i))

print(y)

{'2', '1', '3', '4', '5'}

In [1]:
#36. Create a set from a tuple.
x=(1,2,3,4)
set(x)

{1, 2, 3, 4}

In [6]:
#37. Convert a set to a tuple.
x={1,2,3,4}
y=tuple(x)
print(y)

(1, 2, 3, 4)

In [15]:
#38. Find the maximum value in a set.
x={1,4,6,11,22,56,88}
max(x)

88

In [16]:
#39. Find the minimum value in a set.
x={1,4,6,11,22,56,88}
min(x)

1

In [17]:
#40. Create a set from user input.
x=input()

 adfjldkfls

In [19]:
set(x)

{'a', 'd', 'f', 'j', 'k', 'l', 's'}

In [21]:
#41. Check if the intersection of two sets is empty.
x={1,2,3,4,5}
y={6,7,8,9,10}
if x.isdisjoint(y)==True:
    print('the intersection of two sets is empty')
else:
    print('the intersection of two sets is empty')

the intersection of two sets is empty

In [16]:
#42. Create a set of the first 5 Fibonacci numbers.
x,y=0,1
myset=set()
c=0
z=int(input('enter the number for fibonacci series'))
for i in  range(z):
    if i<=c:
        a=x+y
        myset.add(a)
        x=y
        y=a
        c+=1
print(myset)

enter the number for fibonacci series 4

{1, 2, 3, 5}

In [23]:
#43. Remove duplicates from a list using sets.
x=[1,2,22,22,2,33,33,4,6,7,8,9,4,6,9]
set(x)

{1, 2, 4, 6, 7, 8, 9, 22, 33}

In [30]:
#44. Check if two sets have the same elements, regardless of their count.
set1 = {1, 2, 3, 4, 5,6}
set2 = {6,5, 4, 3, 2, 1}

if set1 == set2:
    print("The sets have the same elements")
else:
    print("The sets are different.")

The sets have the same elements

In [3]:
#45. Create a set of the first `n` powers of 2.
n=5
x= set()
y = 1
for i in range(n):
    y=2**i
    x.add(y)
print(x)

{1, 2, 4, 8, 16}

In [7]:
#46. Find the common elements between a set and a list.
x={1,2,3,4,5}
y=[2,4,5,6,7,8]
c=x.intersection(y)

print(c)

{2, 4, 5}

In [24]:
#48. Check if a set contains another set as a subset.
x={1,2,3,4}
y={1,2,3,4,5,6,7}
x.issubset(y)

True

In [15]:
#47. Create a set of the first `n` triangular numbers.
a=int(input('enter a number'))
new_set=set()
c=0
for i in range(a):
    c=c+(i*(i+1)/2)
    new_set.add(int(c))
print(new_set)

enter a number 5

{0, 1, 4, 10, 20}

In [2]:
#49. Create a set of alternating 1s and 0s of length `n`.
x=[]
for i in range(0,10,1):
    if i%2==0:
        x.append(1)
    else:
        x.append(0)
print(set(x))

{0, 1}

In [25]:
#50. Merge multiple sets into one.
x={1,2,3,4}
y={'a','b','c'}
z={2+3j,4+5j}
a=set.union(x).union(y).union(z)
print(a)

{1, 2, 3, 4, (2+3j), (4+5j), 'b', 'a', 'c'}